@import '../../../style/variables.scss';
.membersWrap {
  background: $details_bg;
  border-radius: 10px;
  margin: 0 15px 15px;
  display: block;
  overflow: hidden;
  * {
    color: #000;
  }
  .item {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid $item_border;
    .avatar {
      width: 50px;
      padding-bottom: 50px;
      border-radius: 80px;
    }
    .nameMember {
      padding-left: 15px;
      font-size: 0.9rem;
      display: grid;
      align-content: center;
    }
  }
}