@import '../../../style/variables.scss';
.videoDetailsWrap {
  background-color: $details_bg;
  padding: 15px;
  margin: 15px 15px 0;
  align-items: center;
  border-radius: 15px;
  iframe {
    background: $primary_layout;
    margin: 10px 0;
  }
  .heading {
    color: #737373 !important;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .desc {
    color: #737373 !important;
    font-size: 0.8rem;
  }
}