@import '../../../style/variables.scss';
.communityNavigationWrap {
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  * {
    color: #737373;
    font-size: 0.7rem;
  }
  .navBox {
    background-color: $light_gray;
    width: 48%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    > div {
      width: 40px;
    }
    .icon {
      width: 30px;
      padding-bottom: 30px;
      margin: 0 10px 0 0;
    }
    p {
      align-self: center;
      text-align: left;
      color: $blue_text;
    }
  }
}