.sideBarContainer {
	height: 100%;
	width: 100%;
}

.rightSideBarOutside {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 4;
	position: absolute;
}

.rightSideBar {
	color: white;
	background-color: #FF67C4;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 15px;
	z-index: 4;
	overflow-y: auto;
	left: -500px;
	transition: all 0.2s linear;
}

.rightSideBar.toggled {
	left: 0;
	transition: all 0.2s linear;
}
