@import '../../../style/variables.scss';
.h2hcWrap {
  padding: 15px;
  .filter {
    margin: 0 -10px;
    .datepicker {
      padding: 0 10px;
    }
    .location {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
    .formGroup {
      label {
        font-style: normal;
      }
    }
  }
  .message {
    color: $gray;
    font-style: italic;
    font-size: 0.8rem;
  }
  .results {
    margin-top: 15px;
    * {
      color: $black;
    }
    .heading {
      color: $primary_layout;
      font-size: 1.1rem;
    }
    .resultItem {
        margin-top: 15px;
        &:not(:first-of-type) {
          border-top: 1px solid $item_border;
          padding-top: 15px;
        }
        &:first-of-type {
          margin-top: 10px;
        }
        * {
          font-size: 0.75rem;
        }
        .head {
          display: grid;
          grid-template-columns: 70px auto;
          .dateBox {
            display: flex;
            flex-direction: column;
            background-color: $blue_bg;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            padding: 8px 10px;
            border-radius: 10px;
            margin-right: 10px;
            height: 100%;
            * {
                color: $white;
            }
            .day {
              font-size: 0.875rem;
              text-transform: uppercase;
            }
            .date {
              font-size: 1.5rem;
              line-height: 1;
            }
          }
          .info {
            display: grid;
            grid-template-columns: 70px auto;
            .image {
              width: 100%;
              padding-bottom: 70px;
              border-radius: 10px;
              border: 1px solid $gray;
            }
            .infoText {
              margin-left: 8px;
            }
          }
        }
        .body {
          .descr {
            margin: 10px 0;
          }
        }
        .footer {
          display: flex;
          justify-content: flex-end;
          .btn {
            background-color: $pink_button;
            border: none;
            border-radius: 4px;
            padding: 6px 25px 8px;
            color: $white;
          }
        }
    }
    .showMore {
      text-align: right;
      border: none;
      background: none;
      width: 100%;
      padding: 10px;
      span {
        font-size: 0.7rem;
        color: #737373;
        font-size: 0.8rem;
        text-transform: uppercase;
        span {
          color: #ff2cd7;
        }
      }
    }
    .loaderWrap {
      display: block;
      text-align: right;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
  }
}
.city {
  display: inline-block;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase!important;
  }
}
#h2hcModal {
  overflow: auto;
  a[class^="closeBtn"] {
    top: 21%;
  }
}
.modalContent {
  background-color: $white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50%;
  * {
    color: $black;
    font-size: 0.875rem;
  }
  .modalHead {
    .title {
      font-size: 1rem;
    }
  }
  .modalBody {
    margin: 15px 0;
    .descr {
      font-size: 0.75rem;
    }
  }
}