@import '../../../style/variables.scss';
.filterWrap {
  background-color: $white;
  width: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation-name: popin;
  animation-duration: 0.2s;
  bottom: 0;
  * {
    color: #737373;
  }
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 1px solid #737373;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 1.5rem;
      align-self: center;
      flex: 1;
    }
  }
  .childrenWrap {
    background-color: $white;
    left: calc(-100% - 20px);
    transition: all ease-in-out 0.3s;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    z-index: 1;
    max-height: 100vh;
    overflow-y: scroll;
    &.show {
      left: 0;
    }
    .header {
      .title {
        padding-left: 0;
      }
    }
  }
  .inputContainer {
    position: relative;
    .hideCheck {
      opacity: 0;
    }
    .iconCheck {
      position: absolute;
      top: 10px;
      left: 0;
      width: 18px;
      padding-bottom: 18px;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }
}

@keyframes popin {
  from {bottom: -100%;}
  to {bottom: 0%;}
}