@import '../../../style/variables.scss';
  .alertBox {
    top: -100%;
    transition: all 1s ease-in-out;
    position: absolute;
    padding: 10px;
    border: 2px solid #d9d9d9;
    width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    display: flex;
    border-radius: 5px;
    z-index: 5;
    .alertIcon {
      width: 30px;
      &.success {
        color: $success;
      }
      &.error {
        color: $error;
      }
    }
    .alertText {
      text-align: center;
      align-self: center;
      padding-left: 10px;
      flex: 1;
      font-size: .875rem;
      color: $black;
    }
    .ico {
      width: 30px;
      height: 30px;
      padding: 0;
    }
  }
  .show {
    top: 56px;
    &.noUser {
      top: 5px;
    }
  }