@import '../../../style/variables.scss';
.accountProfile {
  padding: 15px 15px 10px;
  * {
    color: #737373;
  }
  .profile {
    background: $details_bg;
    border-radius: 10px;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    .user {
      display: flex;
      width: 100%;
      position: relative;
      .image {
        top: 12px;
      }
      .profileInfo {
        flex: 1;
        padding: 0 15px 0 0;
      }
      .nameMember {
        flex-grow: 1;
        .name {
          font-size: 1.2rem;
          color: $primary;
          text-transform: uppercase;
        }
        .members {
          font-size: 0.875rem;
        }
      }
      .share {
        width: 20px;
        padding-bottom: 20px;
      }
    }
    .heroPoints {
      text-align: center;
      display: grid;
      .points {
        font-size: 1.8rem;
      }
      .textPoints {
        text-transform: uppercase;
      }
    }
    .shareContainer {
      position: absolute;
      right: 0;
      .share {
        width: 20px;
        padding-bottom: 20px;
      }
    }
    .pointsRank {
      display: flex;
      position: relative;
      top: -10px;
      .heroPoints {
        flex: 1;
        text-align: center;
        display: block;
        margin-right: 15px;
        align-self: flex-end;
        margin-bottom: 4px;
        .points {
          font-size: 1.8rem;
        }
        .textPoints {
          text-transform: uppercase;
          font-size: 0.65rem;
        }
      }
      .heroRankingContainer {
        flex: 1;
        text-align: center;
        .heroRanking {
          flex: 1;
          display: flex;
          margin-top: 5px;
          .rankBox {
            background-color: $light_pink;
            padding: 0 5px 5px;
            width: 60px;
            border-radius: 5px;
            &:not(:first-of-type) {
              margin-left: 10px;
            }
            .rankPoints {
              font-size: 1.5rem;
            }
            .rankPointsText {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
  .download {
    padding: 0;
    border: none;
    display: flex;
    background: $details_bg;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    > div {
      border-radius: 10px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 8px 10px;
      font-size: 0.9rem;
      .iconDownload {
        width: 30px;
        padding-bottom: 30px;
        display: inline-block;
        margin: 0 10px 0 15px;
      }
    }
    > span {
      padding: 11px;
    }
  }
}