APP_ENV_PROJECT='PWA-Kakampink'
APP_ENV_API_DOMAIN='/'
APP_ENV_PLATFORM='web'
APP_ENV_PREFIX='kkp'
APP_ENV_PUBLIC_PATH=''
APP_ENV_BUILD_NO=0.0.000000
APP_ENV_COOKIE_TIME_LIMIT=14
APP_ENV_ENVIRONMENT='LOCAL'
APP_ENV_CDN_DOMAIN='https://mobile-kkp.s3.ap-southeast-1.amazonaws.com/uploads/'