@import '../../../style/variables.scss';
.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 2;
	.modalContentWrap {
		animation-name: popin;
		animation-duration: 0.2s;
		display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
		.modalContent {
			background: #FFF;
			color: #fff;
			width: 90%;
			border-radius: 5px;
			overflow: auto;
			.modalHeader {
				background: #b00061;
				border-bottom: 1px solid #FFB5BA;;
				display: flex;
				padding: 0;
				h3 {
					flex-grow: 1;
					padding: 20px;
					margin: 0;
					&.prompt {
						font-size: 10px;
					}
				}
				
				button {
					color: #FFF;
					height: 42px;
					margin: 0;
					font-size: 1rem;
					width: 40px;
					border: none;
					background: none;
				}
			}
			.modalBody {
				padding: 10px;
			}
		}
	}

	&.fullscreen {
		.modalContentWrap {
			width: 100%;
			.modalContent {
				width: 100%;
				height: 100%;
				.modalHeader {
					height: 56px;
					padding: 11px 10px;
					align-items: center;
					button {
						display: inline-block;
						padding: 0 10px 0 10px;
						color: #fff;
						font-size: 1.7rem;
						background: transparent;
						border: none;
						height: auto;
    				width: auto;
					}
					h3 {
						display: inline-block;
						font-size: 1.2rem;
						max-width: 250px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						color: #fff;
						font-weight: 400;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
}

@keyframes popin {
  from {transform: scale(0.3);}
  to {transform: scale(1);}
}

