
@import '../../../style/variables.scss';
.inviteWrap {
  min-height: 100vh;
	background: $details_bg;

  > div {
    background: $white;
  }
  .list {
    background: $white;
    margin: 0 0;
    display: block;
    overflow: hidden;
    * {
      color: #000;
    }
    .header {
      border-radius: 20px 20px 0 0;
      p, a {
        color: $primary;
        font-size: 1rem;
      }
    }
    .item {
      display: flex;
      padding: 10px 15px;
      border-bottom: 1px dotted $item_border;
      width: 100%;
      background: $details_bg;
      p {
        flex-grow: 1;
        font-size: 0.9rem;
      }
      a {
        flex-grow: 1;
        font-size: 0.9rem;
        display: flex;
      }
      .name {
        width: calc(100% - 100px);
      }
      .status {
        width: 100px;
      }
      .listIcon {
        width: 20px;
        display: inline-block;
        padding-bottom: 20px;
        margin-left: 5px;
      }
    }
  }
}