
@import '../../../style/variables.scss';
.inviteWrap {
  background: #fff;

  .list {
    background: $primary;
    border-radius: 20px 20px 0 0;
    margin: 0 0;
    display: block;
    overflow: hidden;
    * {
      color: #000;
    }
    .header {
      p {
        color: #fff;
        font-size: 1rem;
      }
    }
    .item {
      display: flex;
      padding: 10px 15px;
      border-bottom: 1px dotted #f1ebeb;
      width: 100%;
      p {
        flex-grow: 1;
        font-size: 0.9rem;
      }
      a {
        flex-grow: 1;
        font-size: 0.9rem;
        color: #fff;
        display: flex;
      }
      .name {
        width: calc(100% - 100px);
      }
      .status {
        width: 100px;
      }
      .listIcon {
        width: 20px;
        display: inline-block;
        padding-bottom: 20px;
        margin-left: 5px;
      }
    }
  }
}