@import '../../../style/variables.scss';
.hfWrap {
  padding: 15px;
  .search {
    flex: 1;
    max-width: 100%;
    background-color: $light_gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
    align-items: center;
    input {
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 0.875rem;
      flex: 1;
    }
    .searchIcon {
      max-width: 15px;
      padding-bottom: 15px;
    }
  }
  .listHeader {
    display: flex;
    padding: 10px 0;
    .item {
      flex-grow: 1;
      span {
        color: $gray_text;
        font-size: 0.8rem;
        flex-grow: 1;
      }
      &:last-child {
        text-align: right;
        a {
          display: flex;
          align-items: center;
          .sortIcon {
            width: 25px;
            padding-bottom: 15px;
            margin-left: 5px;
            margin-top: 2px;
          }
        }
      }
    }
  }
  .title {
    color: #ce0f68;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .description {
    color: black;
    display: inline-block;
    font-size: 0.8rem;
  }

  .checkout {
    margin-top: 20px;
    div {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      border: none;
      background-color: #e41e93;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }
  }

  .empty {
    color: black;
    display: block;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }


  .showMore {
    text-align: right;
    border: none;
    background: none;
    width: 100%;
    padding: 10px;
    span {
      color: #737373;
      font-size: 0.8rem;
      text-transform: uppercase;
      span {
        color: #ff2cd7;
      }
    }
  }
  .loaderWrap {
    display: block;
    text-align: right;
    > div div {
      border: 4px solid #fff;
      border-color: #ffb1bb transparent transparent transparent;
      width: 30px;
      height: 30px;
    }
  }
}
