@import '../../../style/variables.scss';
.landingPage {
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgb(255, 177, 187);
	background: linear-gradient(180deg, #b32774 50%, #c1789f 100%);
	.contentWrap {
		position: relative;
		height: 100vh;
		overflow: scroll;
		.headline {
			width: 100%;
			overflow: auto;
			padding: 90px 0 10px;
			.announcements {
				background: $primary_layout;
				margin-bottom: 10px;
				padding: 15px;
				display: flex;
				align-items: center;
				&Content {
					margin-left: 5px;
					text-align: left;
					font-size: 0.65rem;
					h4 {
						font-size: 1.2rem;
						line-height: 18px;
						margin: 0;
						text-transform: uppercase;
					}
					p {
						color: $gray;
					}
				}
			}
			.landingImg {
				width: 150px;
				height: 100%;
				overflow: hidden;
				padding: 0;
				border-radius: 50%;
				img {
					position: relative;
				}
			}
			.heroPoints {
				background: $primary_layout;
				margin-bottom: 10px;
				padding: 15px;
				display: flex;
				align-items: center;
				&Total {
					width: 85px;
					height: 82px;
					padding: 0;
					overflow: hidden;
					border-radius: 50%;
				}
				&Content {
					margin-left: 10px;
					text-align: left;
					font-size: 0.6rem;
					h4 {
						font-size: 1rem;
						line-height: 18px;
						margin: 0;
						text-transform: uppercase;
						color: $item_border;
					}
				}
			}
		}
		.partners {
			padding: 0 15px;
			p {
				color: #e799b7;
				font-size: 0.6rem;
			}
			.partnerImages {
				margin: 20px 0;
				display: flex;
				justify-content: space-between;
				&Scroll {
					overflow: scroll;
					justify-content: flex-start;
					.landingImg {
						width: 88px;
						height: 88px;
						margin-right: 55px;
					}
					.landingImg:last-child {
						margin-right: 0;
					}
				}
				.landingImg {
					width: 88px;
					height: 88px;
				}
			}
		}
		.signInUpBtnWrap {
			max-width: 300px;
			margin: 30px auto 0;
			overflow: auto;
			p {
				margin: 10% 0 0px;
			}
			.buttonStyle {
				background-color: #b73076;
				color: $gray;
			}
			.privacyPolicy {
				margin-top: 10px;
				font-size: 0.7rem;
				color: $light_pink;
				a {
					color: $light_pink;
				}
			}
			.supportIcon {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				right: 10px;
				top: 175px;
				border-radius: 50px;
				padding: 0;
				width: 60px;
				height: 60px;
				background-color: #ffffff;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				img {
					height: 60%;
					width: auto;
				}
			}
		}
	}
}
