@import '../../../style/variables.scss';
.landingPage {
    text-align: center;
    width: 100%;
    height: 100%;
	background: rgb(255,177,187);
	background: linear-gradient(180deg, #b32774 0%, #c1789f 100%);
    .contentWrap {
        position: relative;
        .leniLogo {
            width: 100%;
            height: 65vh;
            overflow: auto;
            .landingImg {
                width: 100%;
                height: auto;
                overflow: hidden;
                max-width: 450px;
                margin: 0 auto;
                padding: 0;
                background: transparent;
                img {
                    left: -30px;
                    margin-top: 5%;
                    position: relative;
                    width: 105%;
                    border-radius: 50%;
                    border: 20px solid $secondary;
                }
            }
        }
        .signInUpBtnWrap {
            height: 35vh;
            max-width: 300px;
            margin: 0 auto;
            overflow: auto;
            p {
                margin: 10% 0 0px;
            }
        }
    }
}