.volunteerAnnouncementWrap {
  background: #fff;
  .form {
    padding: 0px 10px 10px;
    .name {
      margin-left: 20px;
      width: calc( 100% - 20px);
    }
    .radioWrap {
      display: grid;
      > div {
        flex-grow: 1;
        label {
          flex-grow: 1;
        }
      }
    }
    input:disabled {
      color: #aaa;
    }
  }
}