.volunteerAnnouncementWrap {
  background: #fff;
  .form {
    padding: 0px 10px 10px;
    .name {
      margin-left: 20px;
      width: calc( 100% - 20px);
    }
    .radioWrap {
      display: grid;
      > div {
        flex-grow: 1;
        label {
          flex-grow: 1;
        }
        input[type="radio"] {
          display: none;
        }
        input[type="radio"] + *::before {
          content: "";
          display: inline-block;
          vertical-align: bottom;
          width: 14px;
          height: 14px;
          margin-right: 5px;
          border-radius: 50%;
          border: 2px solid #DA8289;
          position: relative;
        }
        input[type="radio"]:checked + *::before {
          background: radial-gradient(#DA8289 0%, #DA8289 40%, transparent 50%, transparent);
        }
      }
    }
    input:disabled {
      color: #aaa;
    }
  }
}