@import '../../../style/variables.scss';
.form {
  .refCode {
    background-color: $details_bg;
    margin: 10px 0;
    border-radius: 10px;
    .codeWrap {
      display: flex;
      width: 100%;
      text-align: left;
      align-items: center;
      background-color: transparent;
      margin: 0 40px 0 0;
      padding: 0;
      border: none;
      .code {
        width: auto;
        padding-right: 10px;
        flex-grow: 0;
      }
      .copyImg {
        width: 20px;
        padding-bottom: 20px;
      }
    }
  }
  padding: 0px 5px 10px;
  .name {
    margin-left: 20px;
    width: calc( 100% - 20px);
  }
  .invite, .mobileWrap {
    display: flex;
    align-items: center;
    .mobileInputWrap {
      flex-grow: 1;
      .mobile {
        width: 95%;
      }
    }
    span,
    .pShare {
      flex-grow: 1;
    }
    .pShare {
      background: $primary_layout;
      display: flex;
      width: 100px;
      margin: 0 auto;
      padding: 5px 10px;
      width: max-content;
      min-width: 85px;
      .pIconShare {
        padding-bottom: 18px;
        width: 18px;
        margin-right: 5px;
      }
      span {
        color: #fff;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}