@import "../../../style/variables.scss";

.taskCenterWrapper {
  position: relative;
  padding: 35px 0;
  min-height: calc(100vh - 144px);
  p {
    margin: 0 35px;
    color: #737373;
    font-size: 0.9rem;
  }
  a {
    color: $primary;
    width: 100%;
    display: block;
    word-wrap: break-word;
  }
  .taskCompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 1px solid #ddd;
    .taskCount {
      color: #af0061;
      margin: 0.5rem;
      font-weight: 900;
    }
    .taskComplete {
      color: #737373;
      margin: 0;
    }
  }
  .taskContainer {
    margin: 10px;
    .steps {
      width: 100%;
      display: flex;
      padding: 1px 0;
      border: 1px solid #d9d9d9;
      justify-content: center;
      margin-top: 10px;
      border-radius: 5px;
      > div {
        margin: 3.5px;
        .active {
          background-color: red;
          height: 10px;
          width: 10px;
        }
        .inactive {
          background-color: grey;
          height: 10px;
          width: 10px;
        }
        .current {
          background-color: blue;
          height: 10px;
          width: 10px;
        }
      }
      button {
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        position: relative;
        .imgWrap {
          width: 25px;
          padding-bottom: 25px;
          margin: 0 auto;
        }
        &:after {
          /* CSS for creating horizontal line*/
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #af0061;
          top: 11px;
          left: 0;
        }
        &:first-child:after {
          left: 50%;
        }
        &:last-child:after {
          left: -50%;
        }
      }
      &.hasOneItem {
        padding: 0;
        button {
          display: none;
        }
      }
    }
    .taskTitle {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 1rem;
      p {
        font-weight: 900;
        color: #af0061;
      }
    }
  }

  .taskContainerCompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    > div {
      .titleCompleted {
        color: #af0061;
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-top: 20px;
        font-weight: 900;
      }
      .subTitleCompleted {
        font-size: 0.75rem;
        color: black;
      }
    }

    .taskCompletedCount {
      margin-top: 15px;
      width: 100%;
      div {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 0.75rem !important;
          color: black;
        }
        .taskCount {
          color: black;
          font-weight: 900;
        }
      }
    }

    .redirect {
      text-decoration: underline;
      color: #af0061;
      font-size: 1.2rem;
      margin-bottom: 10px;
      margin-top: 30px;
      font-weight: 900;
    }
  }

  .taskBody {
    // background-color: #e7e7e7;
    // padding: 50px 15px 15px 15px;
    // border-radius: 15px;
    .title {
      font-size: 1.1rem;
      color: black;
      font-weight: bolder;
      margin: 10px 0;
      text-align: center;
    }
    a {
      font-size: 0.85rem;
    }
    .fbContainer {
      position: relative;
      margin-bottom: 10px;
      overflow: scroll;
    }
    .imageWrap {
      padding: 0;
      .featuredImage {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
        img {
          position: relative;
        }
      }
    }
    .footer {
      p {
        margin: 5px 0;
        color: black;
        font-size: 0.85rem;
      }
    }
    .buttonContainer {
      padding: 0 15px;
    }
  }

  .sAvatar {
    width: 35px;
    padding-bottom: 35px;
    img {
      height: 35px;
      width: 35px;
    }
  }

  .topHash {
    background-color: #af0061;
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    width: 100%;

    .info {
      width: 100%;
      > div {
        margin-left: -15px;
        p {
          color: white;
        }
      }

      .infoTitle {
        width: 100%;
        p {
          font-size: 1rem;
          text-align: center;
          font-weight: 900;
        }
      }
      .infoUser {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }

  .bottomStatus {
    background-color: black;
    height: auto;
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    position: absolute;
    bottom: calc(60px - 88px);
    width: 100%;

    .info {
      width: 100%;
      > div {
        p {
          color: white;
        }
      }

      .infoTitle {
        p {
          font-size: 0.8rem;
          text-align: center;
          margin: 0px;
        }
      }
    }
  }

  .tasksToday {
    text-align: center;
    margin-top: 20px;
    p {
      color: black;
      font-size: 0.75rem;
    }
  }

  .taskShield {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 70px;
    .imgCont {
      width: 110px;
      padding-bottom: 116px;
    }
    .completedText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 123px;
      z-index: 2;
      p {
        width: 57px;
        color: white;
        top: 11px;
        z-index: 2;
        font-size: 0.7rem;
        text-align: center;
        font-weight: bold;
        span {
          color: white;
          display: block;
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
   
  }

  .taskCenterBorder {
    background-color: #f2f2f2;
    padding: 90px 0 10px;
    margin: 50px 10px 0;
    border-radius: 15px;
  }
}
