@import '../../../style/variables.scss';

.taskCenterWrapper {
  position: relative;
  padding: 35px 0;
  min-height: calc(100vh - 116px);
  p {
    margin: 0 35px;
    color: #737373;
    font-size: 0.9rem;
  }
  a {
    color: $primary;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }
  .steps {
    width: 100%;
    display: flex;
    margin: 15px 0 0;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    button {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      flex-grow: 1;
      position: relative;
      .imgWrap {
        width: 25px;
        padding-bottom: 25px;
        margin: 0 auto;
      }
      &:after {
        /* CSS for creating horizontal line*/
        content:'';
        position: absolute;
        width:100%;
        height:2px;
        background-color: #af0061;
        top: 11px;
        left: 0;
      }
      &:first-child:after {
        left: 50%;
      }
      &:last-child:after {
        left: -50%;
      }
    }
    &.hasOneItem {
      padding: 0;
      button {
        display: none;
      }
    }
  }
  .fbContainer {
    position: relative;
    margin-bottom: 10px;
    overflow: scroll;
  }
  .footer {
    p {
      margin: 5px 15px;
    }
  }
  .buttonContainer {
    padding: 0 15px;
  }
}