@import '../../../style/variables.scss';

.taskCenterWrapper {
  position: relative;
  padding: 35px 0;
  min-height: calc(100vh - 116px);
  p {
    margin: 0 35px;
    color: #737373;
    font-size: 0.9rem;
  }
  a {
    color: $primary;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }
  .taskCompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .taskCount {
      color: #af0061;
      margin: 0.5rem;
      font-weight: 900;
    }
    .taskComplete {
      color: #737373;
      margin: 0;
    }
  }
  .taskContainer {
    .steps {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 15px 0 0;
      button {
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        position: relative;
        .imgWrap {
          width: 25px;
          padding-bottom: 25px;
          margin: 0 auto;
        }
        &:after {
          /* CSS for creating horizontal line*/
          content:'';
          position: absolute;
          width:100%;
          height:2px;
          background-color: #af0061;
          top: 11px;
          left: 0;
        }
        &:first-child:after {
          left: 50%;
        }
        &:last-child:after {
          left: -50%;
        }
      }
      &.hasOneItem {
        padding: 0;
        button {
          display: none;
        }
      }
    }
    .taskTitle {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 1rem;
      p {
        font-weight: 900;
        color: #af0061;
      }
    }
  }

  .taskContainerCompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    > div {
      .titleCompleted {
        color: #af0061;
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: 900;
      }
      .subTitleCompleted {
        font-size: 0.75rem;
      }
    }

    .taskCompletedCount {
      margin-top: 15px;
      div {
        display: flex;
        justify-content: space-around;
        p {
          font-size: 0.75rem !important;
        }
        .taskCount {
          color: black;
          font-weight: 900;
        }
      }
    }
  }
  
  .fbContainer {
    position: relative;
    margin-bottom: 10px;
    overflow: scroll;
  }
  .imageWrap {
    padding: 0;
    .featuredImage {
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      img {
        position: relative;
      }
    }
  }
  .footer {
    p {
      margin: 5px 15px;
    }
  }
  .buttonContainer {
    padding: 0 15px;
  }
}