.mainContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.contentWrap {
		.grid {
			position: absolute;
			left: 0;
			top: 0;
			height: calc(100% - 60px);
			width: 100%;
			overflow: scroll;
			padding-top: 56px;
		}
		.noUser {
			height: 100%;
			padding-top: 0;
		}
		.pageOpac {
			opacity: 0.5;
		}
	}
	.grid {
		display: block;
	}
	.footer {
		position: absolute;
    width: 100%;
    font-size: 0.6rem;
    bottom: 0;
    background: rgba(0,0,0,.2);
    text-align: right;
    padding: 2px 10px;
	}
}
