.mainContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.contentWrap {
		.grid {
			position: absolute;
			left: 0;
			top: 0;
			height: calc(100% - 60px);
			width: 100%;
			overflow: scroll;
			padding-top: 70px;
		}
		.noUser {
			height: 100%;
			padding-top: 0;
		}
		.pageOpac {
			opacity: 0.5;
		}
	}
	.grid {
		display: block;
	}
}
