@import '../../../style/variables.scss';
.termsWrapper {
	.termsContent {
		max-height: calc(100vh - 150px);
		overflow-y: scroll;
		padding: 15px 15px 30px;
		min-height: calc(100vh - 150px);
		a {
			text-decoration: underline;
			color: $primary;
		}
		p {
			margin-bottom: 8px;
			&.heading {
				margin: 15px 0;
			}
		}
		ul,
		ol {
			padding-left: 20px;
			margin: 0;
			li {
				margin-bottom: 5px;
			}
		}
		.inputCont {
			margin: 10px 0 30px;
			> div {
				align-items: center;
				input {
					margin-top: 0;
				}
			}
			label {
				font-family: 'OpenSans-SemiBold', arial, sans-serif;
				display: flex;
			}
		}
	}
	.buttonContainer {
		padding: 0 15px;
		position: relative;
		bottom: 5px;
		.buttonStyle {
			font-size: 1.3rem;
			background-color: $pink_button;
			padding: 15px 0;
		}
	}
	.landingTermsContent {
		max-height: calc(100vh);
	}
}
