@import '../../../style/variables.scss';
.termsWrapper {
	.termsContent {
		max-height: calc(100vh - 164px);
		overflow-y: scroll;
		padding: 15px 15px;
		min-height: calc(100vh - 165px);
		a {
			text-decoration: underline;
			color: $primary;
		}
		p {
			margin-bottom: 8px;
			&.heading {
				margin: 15px 0;
			}
		}
		ul {
			padding-left: 20px;
			margin: 0;
			li {
				margin-bottom: 5px;
				font-size: 0.9rem;
			}
			ul li {
				font-size: 0.8rem;
			}
		}
		.inputCont {
			margin-top: 20px;
			> div {
				align-items: center;
				input {
					margin-top: 0;
				}

				// custom radio
				input[type='radio'] {
					display: none;
				}
				input[type='radio'] + *::before {
					content: '';
					display: inline-block;
					vertical-align: bottom;
					min-width: 14px;
					height: 14px;
					margin-right: 0.5rem;
					border-radius: 50%;
					border: 1px solid #f8b6cc;
					position: relative;
					top: 3px;
				}
				input[type='radio']:checked + *::before {
					background: radial-gradient(
						$light_pink 0%,
						$light_pink 40%,
						transparent 50%,
						transparent
					);
				}
			}
			label {
				font-family: 'OpenSans-SemiBold', arial, sans-serif;
				display: flex;
			}
		}
	}
	.buttonContainer {
		padding: 0 15px;
	}
	.landingTermsContent {
		max-height: calc(100vh);
	}
}
