@import '../../../style/variables.scss';
.termsWrapper {
  .termsContent {
    max-height: calc(100vh - 164px);
    overflow-y: scroll;
    padding: 15px 15px;
    min-height: calc(100vh - 165px);
    p {
      margin-bottom: 8px;
      &.heading {
        margin-bottom: 3px;
        text-transform: uppercase;
      }
    }
  }
  .buttonContainer {
    padding: 0 15px;
  }
}