@import '../../../style/variables.scss';
.userAvatarWrap {
  position: relative;
  align-self: center;
  .avatar {
    width: 76px;
    padding-bottom: 72px;
    border: 2px solid $primary;
    border-radius: 80px;
    margin-right: 15px;
  }
  .img {
    top: 50%;
    transform: translateY(-50%);
  }
  .attachment {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
  .attachment ~ input {
    display: none;
  }
}