@import '../../../style/variables.scss';
.chatWrap {
    padding: 15px;
    position: relative;
    * {
        color: #737373;
    }
    .head {
        display: flex;
        .listingImg {
            margin-right: 15px;
        }
        .details {
            .button {
                background-color: $primary_layout;
                padding: 5px 15px;
                margin-top: 5px;
                color: $white;
                display: inline-block;
                border-radius: 8px;
            }
        }
    }
    .body {
        padding: 30px 0;
        .chat {
            height: 65vh;
            overflow-y: auto;
            .chatBubble {
                padding: 10px;
                border-radius: 20px;
                max-width: 80%;
                margin-bottom: 2px;
                clear: both;
            }
            .self {
                background-color: $primary_layout;
                color: $white;
                float: right;
                border-bottom-right-radius: 5px;
                + .self {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                + .other {
                    margin-top: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-of-type {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 20px;
                }
            }
            .other {
                background-color: $gray;
                float: left;
                border-bottom-left-radius: 5px;
                + .other {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                + .self {
                    margin-top: 5px;
                }
                &:last-of-type {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 20px;
                }
            }
            .generated {
                clear: both;
                text-align: center;
            }
        }
    }
    .footer {
        display: flex;
        align-items: center;
        .sendInput {
            background-color: $gray;
            border: none;
            border-radius: 20px;
            width: 80%;
            padding: 10px 20px;
            margin-right: 10px;
        }
        .button {
            background-color: $primary_layout;
            color: $white;
            padding: 5px 10px;
            border-radius: 8px;
        }
    }
    .optOut {
        position: absolute;
        height: 40%;
        background-color: $white;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        padding: 20px;
        p {
            color: $primary_layout;
            font-size: 1.2rem;
        }
        .button {
            background-color: $primary_layout;
            color: $white;
            padding: 10px 30px;
            display: inline-block;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}