.accountProfileWrap {
  position: relative;
  height: calc(100vh - 116px);
  .accountProfileContent {
    * {
      color: #686868
    }
    height: calc(100vh - 200px);
    padding: 35px;
    form {
      // custom radio
      label {
        font-size: 1rem;
        color: #686868;
      }
      .communityInputCode {
        margin-left: 35px;
        width: calc(100% - 35px);
        &::placeholder {
          font-size: 1rem;
          font-family: 'OpenSans-Regular', arial, sans-serif;
          color: #686868;
        }
      }
    }
    h4 {
      font-family: 'OpenSans-extraBold', arial, sans-serif;
      padding-bottom: 10px;
      margin: 0;
      border-bottom: 2px solid #ddd;
    }
    h2 {
      text-align: center;
      color: #D13583;
      font-family: 'OpenSans-extraBold', arial, sans-serif;
    }
  }
  .buttonContainer {
    padding: 0 25px;
  }
}