@import "../../../style/variables.scss";
.listing {
  border-radius: 10px;
  margin: 10px 15px;
  display: block;
  overflow: hidden;
  * {
    color: $black;
    font-size: 0.8rem;
  }
  .item {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid $item_border;
    &.featured {
      background-color: $pink_button;
      * {
        color: $white;
      }
    }
    .avatar {
      width: 50px;
      padding-bottom: 50px;
      border-radius: 80px;
    }
    .nameMember {
      padding-left: 15px;
      display: grid;
      align-content: center;
      flex-grow: 1;
      width: calc(100% - 190px);
      .members {
        font-size: 0.5rem;
      }
    }
    .count {
      display: grid;
      align-content: center;
      flex-grow: 1;
      width: 82px;
      p {
        padding-bottom: 12px;
        text-align: center;
      }
    }
  }
  .header {
    border-bottom: none;
    padding-bottom: 5px;
    padding-top: 0;
    .avatar {
      width: 60px;
      padding-bottom: 0;
    }
    .nameMember,
    .count {
      p {
        padding-bottom: 0;
      }
    }
  }
  .content {
    background: $light_gray;
    border-radius: 10px;
  }
  .noRecord {
    text-align: center;
    padding: 10px;
  }
}
