@import '../../../style/variables.scss';
.accountProfile {
  * {
    color: $white;
  }
  .profile {
    background: $pink_button;
    padding: 10px 10px 0 10px;
    .user {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      .avatar {
        align-self: center;
        label {
          div {
            border: 1px solid $white;
            background-color: $gray_bg;
            width: 47px;
            margin-right: 0;
            padding-bottom: 45px;
          }
        }
      }
      .nameMember {
        flex-grow: 1;
        padding: 10px;
        .name {
          font-size: 0.9rem;
          color: $white;
          text-transform: capitalize;
        }
        .heroRankingContainer {
          flex: 1;
        }
        .heroPoints {
          color: $white;
          font-size: 0.9rem;
        }
      }
      .shareWrap {
        align-self: center;
        display: flex;
        font-size: 0.8rem;
        .share {
          width: 20px;
          padding-bottom: 20px;
          margin-right: 5px;
        }
      }
      
    }
    .heroRanking {
      flex: 1;
      display: flex;
      padding: 15px 0;
      justify-content: space-around;
      border-top: 1px solid #f466b6;
      .rankBox {
        padding: 0 5px 5px;
        width: 100%;
        text-align: center;
        &:not(:first-of-type) {
          border-left: 1px solid #f466b6;
        }
        .rankPointsText {
          font-size: 0.75rem;
        }
      }
    }
  }
}