@import '../../../style/variables.scss';
.tWrap {
  padding: 10px 15px;
  .head {
    margin-bottom: 5px;
    .title {
      color: $pink_text;
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
    }
    .see_all {
      color: $blue_text;
      float: right;
      text-transform: lowercase;
      font-size: 0.75rem;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  .tContainer {
    .tItem {
      background-color: $blue;
      border-radius: 10px;
      padding: 10px 23px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:first-of-type) {
        margin-top: 10px;
      }
      * {
        color: $white;
      }
      .info {
        font-size: 0.75rem;
        .name {
          margin-bottom: 3px;
          span {
            display: inline-block;
            &.vname {
              margin-left: 5px;
            }
          }
        }
        .arrow {
          font-size: 0.875rem;
        }
      }
    }
    .showMore {
      text-align: right;
      border: none;
      background: none;
      width: 100%;
      span {
        font-size: 0.7rem;
        color: #737373;
        font-size: 0.8rem;
        text-transform: uppercase;
        span {
          color: #ff2cd7;
        }
      }
    }
    .loaderWrap {
      display: block;
      text-align: right;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
  }
}