.hfWrap {
  .title {
    color: #ce0f68;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
  }
  .video {
    margin-bottom: 10px;
  }
  .description {
    color: black;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 15px 10px;
  }
}