.bottomBar {
	background: #f2999e;
	height: 60px;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	z-index: 2;
	.menu {
		width: 20%;
		text-align: center;
		a {
			flex-grow: 1;
			padding: 9px 5px;
			display: block;
			width: 20%;
			text-transform: uppercase;
			color: #d3dee3;
			text-decoration: none;
			line-height: 1;
			text-align: center;
			align-self: center;
		}
		&:nth-child(3) {
			.imgCont {
				width: 47px;
				padding-bottom: 32px;
			}
		}
		&:nth-child(4) {
			.imgCont {
				width: 36px;
				padding-bottom: 32px;
			}
		}
		.imgCont {
			width: 30px;
			padding-bottom: 30px;
			margin: 17px auto 0;
		}
	}
}
