.bottomBar {
	background: #262829;
	height: 60px;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	z-index: 2;
	.menu {
		width: 20%;
		text-align: center;
		a {
			flex-grow: 1;
			padding: 9px 5px;
			display: block;
			width: 20%;
			text-transform: uppercase;
			font-family: dinpro;
			color: #d3dee3;
			text-decoration: none;
			line-height: 1;
			text-align: center;
			align-self: center;
		}
		.imgCont {
			width: 40px;
			padding-bottom: 40px;
			margin: 10px auto 0;
		}
	}
}
