@import '../../../style/variables.scss';
.bottomBar {
	background: $primary_layout;
	height: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	z-index: 2;
	.menu {
		width: 20%;
		text-align: center;
		a {
			flex-grow: 1;
			padding: 9px 5px;
			display: block;
			width: 20%;
			text-transform: uppercase;
			color: #d3dee3;
			text-decoration: none;
			line-height: 1;
			text-align: center;
			align-self: center;
		}
		.imgCont {
			width: 30px;
			padding-bottom: 30px;
			margin: 10px auto 0;
		}
		p {
			font-size: 0.6rem;
			margin-top: 5px;
			opacity: 0.5;
		}
		.dot {
			margin: 0;
    	justify-content: center;
		}
		&.active {
			p {
				opacity: 1;
			}
		}
	}
}
