@import '../../../style/variables.scss';
.popupPage {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: $white;
	transition: left 0.2s linear;
	&.animate {
		left: 0%;
	}
	&.close {
		left: 100%;
	}
	.header {
		width: 100%;
		padding: 11px 10px;
		background-color: $primary_layout;
    display: flex;
    align-items: center;
		height: 56px;
		button {
			display: inline-block;
			padding: 0 10px 0 10px;
			color: $white;
			font-size: 1.7rem;
			background: transparent;
			border: none
		}
		h3 {
			display: inline-block;
			font-size: 1.2rem;
			max-width: 250px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			color: $white;
			font-weight: 400;
			margin: 0;
			padding: 0;
		}
	}
	.body {
		height: calc(100% - 56px);
		overflow-y: scroll;
    * {
      color: $black;
    }
	}
}
