@import '../../../style/variables.scss';
.loaderCont {
  background-color: $details_bg;
  margin: 0 15px;
  padding: 20px 0 30px;
  text-align: center;
  border-radius: 10px;
}
.featuredCommunityWrap {
  margin: 10px 15px;
  position: relative;
  &.isFeatured {
    background-color: $primary_layout;
    * {
      color: $white !important;
    }
    .communityDetailsWrap{
      background: none;
    }
    }
  .title {
    color: $primary_layout;
    text-align: center;
  }
  .title, .heading {
    text-transform: uppercase;
  }
  .communityDetailsWrap {
    background-color: $light_gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    * {
      color: #737373;
    }
    .content {
      max-width: 40%;
      * {
        font-size: 0.7rem;
      }
      .heading {
        color: #737373;
        text-transform: capitalize;
        max-width: 150px;
        text-transform: uppercase;
      }
      .followers {
        margin-bottom: 10px;
      }
      .desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }
    .avatar {
      border-radius: 10px;
      width: 70px;
      padding-bottom: 70px;
      margin-right: 20px;
    }
    .buttonContainer {
      margin-left: auto;
    }
    button.buttonStyle {
      padding: 3px 30px;
      font-size: 0.75rem;
      border: 1px solid transparent;
      border-radius: 2px;
      background-color: $primary;
      &.followed {
        background-color: $white;
        border-color: $blue;
        color: $black_text;
      }
    }
  }
  .showMore {
    text-align: right;
    border: none;
    background: none;
    width: 100%;
    span {
      color: #737373;
      font-size: 1rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: #ff2cd7;
        font-size: 2rem;
        margin-right: 5px;
      }
    }
  }
  .noRecord {
    text-align: center;
    padding: 10px 10px 0 10px;
    color: #737373;
    width: 100%;
  }
}