@import '../../../style/variables.scss';
.globalAnnouncement {
  background: $details_bg;
  margin: 0 15px 15px;
  border-radius: 10px;
  &.marginTop {
    margin-top: 10px;
  }
  .tabWrap {
    display: flex;
    width: 100%;
    background: #c1bbbb;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    span {
      flex-grow: 1;
      color: #737373;
      border-radius: 10px 10px 0 0;
      padding: 8px 10px;
      &.activeTab {
        color: #fff;
        background: $primary_layout;
      }
    }
  }
  .content {
    border-radius: 10px;
    overflow: hidden;

    .announcementWindow {
      position: relative;
      width: 100%;
      overflow-x: scroll;
      .announcementWrap {
        &.rows {
          display: flex;
          width: 100%;
          &.i2 {
            width: 180%;
          }
          &.i3 {
            width: 270%;
          }
        }
        .item {
          width: 100%;
          padding: 10px 10px;
          border-right: 1px solid #f1ebeb;
          &:last-child {
            border: none;
          }
        }
      }
      .noRecord {
        text-align: center;
        padding: 10px;
        color: #737373;
        width: 100%;
      }
    }
    .details {
      display: flex;
      color: #737373;
      height: 100%;
      position: relative;
      .imgContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .detailImage {
          width: 100%;
          padding-bottom: 60%;
        }
        .img {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      
      .detailContent {
        flex: 1;
        margin-top: 65px;
        z-index: 1;
        background: rgba(43,45,50,0.5);
        border-radius: 10px 10px 0 0;
        padding: 10px;
        &.rows{
          margin-top: 65px;
        }
        .detailHead {
          .userName {
            font-size: 0.875rem;
          }
        }
        .detailBody {
          .detailTitle {
            font-size: 0.75rem;
          }
          .detailDescription {
            font-size: 0.75rem;
            span {
              float: right;
              color:  $primary;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .showMore {
      text-align: right;
      border: none;
      background: none;
      width: 100%;
      padding: 10px;
      span {
        font-size: 0.7rem;
        color: #737373;
        font-size: 0.8rem;
        text-transform: uppercase;
        span {
          color: #ff2cd7;
        }
      }
    }
    .seeAll {
      span {
        float: right;
        color: #b00061;
        text-decoration: underline;
        font-size: 0.75rem;
        margin: 0 5px 10px;
      }
    }
    .loaderWrap,
    .loaderWrapCenter {
      display: block;
      text-align: right;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
    .loaderWrapCenter {
      text-align: center;
    }
  }
}
.pWrap {
  position: fixed;
  top: 66px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 136px);
  background: $details_bg;
  border-radius: 10px;
  z-index: 2;
  padding: 40px 10px 10px;
  overflow: scroll;
  * {
    color: #000;
  }
  .pClose {
    position: absolute;
    right: 5px;
    top: 5px;
    .closeBtn {
      width: 27px;
      height: 27px;
    }
  }
  .pHeader {
    display: flex;
    .pImage {
      padding-bottom: 150px;
      width: 150px;
    }
    .pNews {
      width: calc(100% - 150px);
      padding-left: 15px;
      .pTitle{
        font-size: 0.8rem;
        color: $primary_layout;
      }
      .pLink{
        font-size: 0.6rem;
        display: inline-block;
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .pContent {
    font-size: 0.8rem;
    br {
      display: block;
      content: "";
      margin: 10px 0;
    }
  }
  .pShare {
    background: $primary;
    display: flex;
    width: 100px;
    margin: 0 auto;
    padding: 5px 10px;
    width: max-content;
    margin-top: 20px;
    .pIconShare {
      padding-bottom: 18px;
      width: 18px;
      margin-right: 5px;
    }
    span {
      color: #fff;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}