@import '../../../style/variables.scss';

.topbar {
	background-color: #ffb1bb;
	padding: 0px;
	position: fixed;
	width: 100%;
	height: 56px;
	top: 0;
	left: 0;
	z-index: 2;
	.container {
		width: 100%;
		position: relative;
		.title {
			margin: 0;
			padding: 14.5px 10px 14.5px 42px;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
			height: 56px;
			font-weight: 400;

			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.btnBack,
		.burger,
		.notif {
			display: block;
			text-decoration: none;
			outline: none;
			position: absolute;
			left: 0;
			top: 50%;
			margin: 0;
			padding: 0;
			transform: translateY(-50%);
			border: none;
			background-color: inherit;
			&.notif {
				right: 0;
				left: auto;
			}
			.burgerImg,
			.notifImg {
				width: 30px;
				padding-bottom: 30px;
				display: block;
				margin: 0 15px;
				position: relative;
			}
			.notifCount {
				background-color: #fff;
				border: 1px solid #ffb1bb;
				border-radius: 50%;
				color: #ffb1bb;
				position: absolute;
				z-index: 2;
				font-size: 0.6rem;
				top: 0;
				right: 13px;
				width: 15px;
				text-align: center;
			}
			&.btnBack {
				padding: 0 10px 0 20px;
				color: $white;
				font-size: 1.7rem;
				background: transparent;
				border: none;
			}
		}
	}
}
