.topbar {
	background-color: #ffb1bb;
	padding: 0px;
	position: fixed;
	width: 100%;
	height: 56px;
	top: 0;
	left: 0;
	z-index: 2;
	.container {
		width: 100%;
		position: relative;
		.title {
			margin: 0;
			padding: 14.5px 60px;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
			height: 56px;
		}
		.burger,
		.notif {
			display: block;
			text-decoration: none;
			outline: none;
			position: absolute;
			left: 0;
			top: 50%;
			margin: 0;
			padding: 0;
			transform: translateY(-50%);
			border: none;
			background-color: inherit;
			&.notif {
				right: 0;
				left: auto;
			}
			.burgerImg,
			.notifImg {
				width: 40px;
				padding-bottom: 40px;
				display: block;
				margin: 0 15px;
			}
		}
	}
}
