@import '../../../style/variables.scss';
  .notificationBox {
    top: -100%;
    transition: top 0.2s ease-in-out;
    position: absolute;
    padding: 10px;
    border: 2px solid #d9d9d9;
    width: 100%;
    background-color: $white;
    display: flex;
    border-radius: 5px;
    &.show {
      top: 0;
    }
    .notificationIcon {
      &.success {
        color: $success;
      }
      &.error {
        color: $error;
      }
    }
    .notificationText {
      text-align: center;
      align-self: center;
      margin-left: -13px;
      flex: 1;
      font-size: .875rem;
    }
  }