.formDropdown {
	border: 1px solid #d3d3d3;
	padding: 10px;
	background: #FFF;
	display: block;
	width: 100%;
	&::placeholder {
		font-size: 0.6rem;
	}
	&.error {
		border-color: red;
	}
}
.text {
	font-size: 0.6rem;
	margin: 5px 0;
	display: block;
	&.errorText {
		color: red;
	}
}