@import '../../../style/variables.scss';
.leniSearchWrap {
  padding: 0 15px 10px;
  .header {
    background-color: $primary_layout;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .search {
    flex: 1;
    max-width: 100%;
    background-color: $light_gray;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    input {
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 0.875rem;
      flex: 1;
    }
    .searchIcon {
      max-width: 35px;
      padding-bottom: 35px;
    }
  }
}