@import '../../../style/variables.scss';
.profileWrap {
  background: #fff;
  padding-bottom: 20px;
  .form {
    padding: 10px 10px 20px;
    .radioWrap {
      display: flex;
      width: 50%;
      > div {
        flex-grow: 1;
        label {
          flex-grow: 1;
        }
      }
    }
    input:disabled {
      color: #aaa;
    }
    .checkWrap {
      display: flex;
      > div {
        flex-grow: 1;
        flex-direction: column;
        label {
          flex-grow: 1;
          display: flex;
          align-items: center;
        }
      }
    }
    input:disabled {
      color: #aaa;
    }
    .displayOnly {
      border: none;
      border-radius: 0;
      padding: 10px 0;
      display: block;
      width: 100%;
      background: transparent;
    }
  }
}
.privacy {
  * {
    color: #737373;
  }
}