@import '../../../style/variables.scss';
.profileWrap {
  background: #fff;
  .form {
    padding: 10px 10px 20px;
    .radioWrap {
      display: flex;
      width: 50%;
      > div {
        flex-grow: 1;
        label {
          flex-grow: 1;
        }
        input[type="radio"] {
          display: none;
        }
        input[type="radio"] + *::before {
          content: "";
          display: inline-block;
          vertical-align: bottom;
          width: 14px;
          height: 14px;
          margin-right: 5px;
          border-radius: 50%;
          position: relative;
          border: 1px solid $gray;
        }
        input[type="radio"]:checked + *::before {
          background: $primary;
        }
      }
    }
    input:disabled {
      color: #aaa;
    }
    .displayOnly {
      border: none;
      border-radius: 0;
      padding: 10px 0;
      display: block;
      width: 100%;
      background: transparent;
    }
  }
}