.formGroup {
	display: grid;
	padding: 10px;
	* {
		font-size: 0.8rem;
		color: #737373;
	}
	> label {
		font-family: 'OpenSans-Regular', arial, sans-serif;
		font-style: italic;
		padding-bottom: 5px;
		color: #282828;
	}
	.error {
		color: red;
	}
}
