.formGroup {
  display: grid;
  padding: 10px;
  * {
    font-size: 0.8rem;
    color: #737373;
  }
  > label {
    font-family: 'OpenSans-Bold', arial, sans-serif;
  }
  .error {
    color: red;
  }
}