@import '../../../style/variables.scss';
.pinkPatrol {
  padding: 10px;
  .buttonDraft {
    font-size: 0.8rem;
    background-color: #E89C44;
    justify-content: left;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    padding: 5px;
    align-items: center;
    .draftInfo {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      .iconStyle {
        width: 25px;
        padding-bottom: 25px;
        margin-right: 10px;
        margin-left: 15px;
      }
    }
    .deleteContainer {
      margin-left: auto;
      .iconDelete {
        width: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .formContainer {
    border-radius: 10px;
    .mainFields > label{
      font-family: 'OpenSans-Bold', arial, sans-serif;
      font-style: normal;
    }
    .uploadMsg {
      color: $black;
      margin: 5px 10px;
      font-size: 0.8rem;
    }
    .locInfo {
      display: flex;
      .locField {
        width: 100%;
      }
    }
    .formGroup > label {
      font-family: 'OpenSans-Regular', arial, sans-serif;
      font-style: italic;
      padding-bottom: 5px;
      color: #282828;
    }
    .attLabel {
      display: flex;
      font-style: italic;
      .attIcon {
        margin-left: 5px;
        width: 20px;
        padding-bottom: 20px;
      }
    }
    .attachmentWrap {
      display: flex;
      align-items: center;
      .attachmentInputWrap {
        flex-grow: 1;
        .attachment {
          width: 95%;
          border: 0;
        }
        .dummyInput {
          border: 0;
        }
        .hidden {
          display: none;
        }
      }
      .pShare {
        background: $pink_button;
        margin: 0 auto;
        padding: 15px 20px;
        text-align: center;
        border-radius: 5px;
        color: $white;
        font-size: 0.8rem;
        text-transform: uppercase;
        max-width: 105px;
        min-width: 105px;
      }
    }
  }
  .formNote {
    color: $black;
    font-size: 0.75rem;
    margin: 15px;
  }
  .submiReport {
    border: 1px solid $pink_button !important;
    background-color: $pink_button !important;
  }
  .saveDraft {
    border: 1px solid $pink_button !important;
    background-color: $white !important;
    color: $pink_button !important;
  }
}