.componentModal {
  display: block;
}
.closeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  .imgWrap {
    width: 30px;
    padding-bottom: 30px;
  }
}
.modal {
  display: block;
  width: 100%;
  .contentWrap {
    width: 100%;
    height: 100%;
    .content {
      width: calc(100% - 30px);
      height: calc(100% - 55px);
      margin-top: 25px;
    }
  }
}

