@import '../../../style/variables.scss';
.componentModal {
  position: fixed;
  top: 66px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 136px);
  background: $light_pink;
  border-radius: 10px;
  z-index: 2;
  padding: 40px 10px 10px;
  overflow: scroll;
  .pClose {
    position: absolute;
    right: 5px;
    top: 5px;
    .closeBtn {
      width: 27px;
      height: 27px;
    }
  }
}
