@import '../../../style/variables.scss';
.buttonDescWrapper {
	position: relative;
	button.button {
		color: $white;
		font-size: 1.2rem;
		border: none;
		border-radius: 5px;
		background-color: $primary_layout;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		margin-top: 10px;
		&:disabled {
			opacity: 0.5;
		}
		&.active {
			background-color: $kakampink;
		}
	}
	p.small {
		font-size: 0.8rem;
		color: #737373;
		margin: 5px;
	}
}
