
@import '../../../style/variables.scss';
.buttonDescWrapper {
  button.button {
    color: $white;
    font-family: OpenSans-Bold, arial, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: $primary_layout;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
    &:disabled {
      opacity: 0.7;
    }
  }
}