@import '../../../style/variables.scss';
.postContent {
  padding: 15px 15px 10px;
  * {
    color: #737373;
  }
  .infoWrap {
    border-radius: 10px;
    .attachmentWrap {
      display: flex;
      align-items: center;
      .attachmentInputWrap {
        flex-grow: 1;
        &.hideInput {
          display: none;
        }
        .attachment {
          width: 95%;
        }
      }
      .pShare {
        flex-grow: 1;
      }
      .pShare {
        background: $primary_layout;
        display: flex;
        width: 100px;
        margin: 0 auto;
        padding: 5px 10px;
        width: max-content;
        min-width: 85px;
        .pIconShare {
          padding-bottom: 18px;
          width: 18px;
          margin-right: 5px;
        }
        span {
          color: #fff;
          font-size: 0.8rem;
          text-transform: uppercase;
        }
      }
      .editImage {
        margin-right: 20px;
        margin-top: 15px;
      }
      .uploadBtnWrap {
        align-self: center;
      }
    }
  }
}