@import '../../../style/variables.scss';
.landingPage {
	text-align: center;
	width: 100%;
	height: 100%;
	background: $white;
	.contentWrap {
		position: relative;
		height: 100vh;
		overflow: scroll;
		padding-bottom: 25px;
		.headline {
			width: 100%;
			overflow: auto;
			padding: 90px 0 10px;
			.announcements {
				background: $gray_bg;
				padding: 15px;
				display: flex;
				align-items: center;
				&Content {
					margin-left: 8px;
					text-align: left;
					font-size: 0.75rem;
					h4 {
						color: $pink_text;
						font-size: 1.35rem;
						line-height: 18px;
						margin: 0;
						text-transform: uppercase;
					}
					p {
						color: black;
						&:first-child {
							color: $blue_text;
							margin-bottom: 5px;
						}
					}
					.date {
						text-transform: uppercase;
					}
				}
			}
			.landingImg {
				width: 85px;
				min-width: 85px;
				height: 82px;
				overflow: hidden;
				padding: 0;
				border-radius: 50%;
				img {
					position: relative;
				}
			}
			.heroPoints {
				background: $gray_bg;
				margin-bottom: 10px;
				padding: 15px;
				display: flex;
				align-items: center;
				&Total {
					width: 85px;
					height: 82px;
					padding: 0;
					overflow: hidden;
					border-radius: 50%;
				}
				&Content {
					margin-left: 8px;
					text-align: left;
					p {
						font-size: 0.75rem;
						color: $blue_text;
						margin-bottom: 5px;
					}
					h4 {
						font-size: 1.35rem;
						line-height: 18px;
						margin: 0;
						text-transform: uppercase;
						color: $pink_text;
					}
				}
			}
		}
		.partners {
			padding: 0 15px;
			p {
				color: $blue_text;
				font-size: 0.65rem;
			}
			.partnerImages {
				margin: 20px 0;
				display: flex;
				justify-content: space-between;
				&Scroll {
					overflow: scroll;
					justify-content: flex-start;
					.landingImg {
						width: 88px;
						height: 88px;
						margin-right: 55px;
					}
					.landingImg:last-child {
						margin-right: 0;
					}
				}
				.landingImg {
					width: 88px;
					height: 88px;
				}
			}
		}
		.signInUpBtnWrap {
			margin: 0 15px;
			overflow: auto;
			p {
				margin: 10% 0 0px;
				color: #282828;
				a {
					color: $pink_text;
				}
			}
			.buttonStyle {
				font-size: 1.3rem;
				background-color: $pink_button;
				padding: 15px 0;
			}
			.privacyPolicy {
				margin-top: 10px;
				font-size: 0.7rem;
				color: $gray_text;
				a {
					color: $gray_text;
				}
			}
			.supportIcon {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				right: 10px;
				top: 175px;
				border-radius: 50px;
				padding: 0;
				width: 60px;
				height: 60px;
				background-color: #ffffff;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
				img {
					height: 60%;
					width: auto;
				}
			}
		}
	}
}
