$transparent: rgba(0,0,0,0);
$white: #fff;
$black: #000;
$gray: #d0d3d8;

$kakampink: #FF67C4;
$primary: #EA6CB0;
$secondary: #E41E93;
$primary_layout: #F8B6CD;
$dark_pink: #AF0061;

$success: #44D631;
$error: #ED1C33;