$transparent: rgba(0, 0, 0, 0);
$white: #fff;
$black: #000;
$gray: #d0d3d8;
$dimgray: #654f55;
$light_gray: #f2f2f2;

$kakampink: #ff67c4;
$primary: #e41e93;
$secondary: #e41e93;
$primary_layout: #b00061;
$dark_pink: #831350;
$light_pink: #f8b6cc;
$details_bg: #f9e9e8;
$item_border: #e7e8e4;

$success: #44d631;
$error: #ed1c33;

$red_bg: #ff0000;
$gray_bg: #f2f2f2;
$blue_bg: #1A4789;
$pink_button: #ec0186;
$pink_text: #ce0f68;
$blue_text: #031684;
$gray_text: #737373;
$black_text: #231f20;
$blue: #1a4789;
