@import '../../../style/variables.scss';
.countdownWrap {
	display: flex;
	width: calc(100% - 30px);
	margin: 10px 15px 0;
	.countdown {
		background-color: $details_bg;
		border-radius: 10px;
		padding: 5px;
		flex-grow: 1;
		&:last-child {
			margin-left: 5px;
			max-width: 110px;
		}
		.title {
			color: $dimgray;
			font-size: 0.6rem;
			text-align: center;
			text-transform: uppercase;
		}
		.content {
			display: flex;
			.count {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				span {
					color: $primary_layout;
					font-size: 1rem;
					text-align: center;
				}
				span:last-child {
					color: $black;
					font-size: 0.5rem;
					text-transform: uppercase;
				}
			}
		}
		.appDownload {
			color: $dimgray;
			font-size: 1.2rem;
			text-align: center;
			display: block;
		}
	}
}
