@import '../../../style/variables.scss';
.countdownWrap {
	display: flex;
	padding: 10px 15px 24px;
	background: $white;
	.countdown {
		background-color: #ce0f68;
		border-radius: 10px;
		padding: 5px;
		flex-grow: 1;
		&:last-child {
			margin-left: 5px;
			max-width: 110px;
		}
		.title {
			color: $white;
			font-size: 0.6rem;
			text-align: center;
			text-transform: uppercase;
		}
		.content {
			display: flex;
			justify-content: space-between;
			width: 75%;
			margin: 0 auto;
			.count {
				display: flex;
				flex-direction: column;
				align-items: center;
				span {
					font-size: 1rem;
				}
				span:last-child {
					font-size: 0.5rem;
					text-transform: uppercase;
				}
			}
		}
		&AppDownload {
			background-color: #231f20;
		}
		.appDownload {
			color: $white;
			font-size: 1.2rem;
			text-align: center;
			display: block;
		}
	}
}
