@import '../../../style/variables.scss';
.homeEvents {
  padding: 10px 15px 0px;
  .header {
    display: flex;
    margin-bottom: 10px;
    .title {
      color: $pink_text;
      flex-grow: 1;
    }
    a {
      color: $blue_text;
      font-size: 0.8rem;
    }
  }
  .body {
    * {
      color: #737373;
    }
    .title {
      color: $pink_text;
      font-size: 0.9rem;
    }
    .item {
      display: flex;
      margin-top: 8px;
      &:not(:first-of-type) {
        margin-top: 0;
      }
      .box {
        display: flex;
        flex-direction: column;
        background-color: $blue_bg;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        padding: 12px 15px;
        border-radius: 10px;
        margin-right: 5px;
        margin-top: 10px;
        * {
          color: $white;
        }
        .day {
          font-size: 0.8rem;
          text-transform: uppercase;
        }
        .date {
          font-size: 2rem;
          line-height: 1;
        }
      }
      .events {
        flex-grow: 1;

      }
      &:last-child {
        div:last-child {
          > div {
            border-bottom: none;
          }
        }
      }
    }
    .loaderWrap {
      display: block;
      text-align: center;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
  }
}
.pWrap {
  * {
    color: #000;
  }
  .pHeader {
    display: flex;
    flex-direction: column;
    .pImage {
      padding-bottom: 250px;
      width: 100%;
      margin: 15px 0;
    }
    .pTitle{
      font-size: 1.2rem;
      color: $pink_text;
      text-align: center;
    }
  }
  .source {
    font-size: 0.875rem;
    .pLink{
      font-size: 0.6rem;
    }
  }
  .pContent {
    font-size: 0.8rem;
    margin-top: 30px;
    br {
      display: block;
      content: "";
      margin: 10px 0;
    }
  }
  .pShare {
    background: $primary;
    display: flex;
    width: 100px;
    margin: 0 auto;
    padding: 10px 20px;
    width: max-content;
    margin-top: 20px;
    border-radius: 6px;

    .pIconShare {
      padding-bottom: 18px;
      width: 18px;
      margin-right: 5px;
    }
    span {
      color: #fff;
      font-size: 1rem;
    }
  }
}