@import '../../../style/variables.scss';
.loginFormContainer {
	height: 100%;
	width: 100%;
}

.login {
	background: white;
	text-align: left;
	.formTitle {
		background-color: $gray_bg;
		text-align: center;
		color: $black_text;
		padding: 10px;
		font-size: 25px;
		span {
			color: $pink_text;
		}
	}
	.formFieldWrap {
		background-color: #fff;
		width: 100%;
		padding: 15px;
		color: #737373;
		.formGroup > label {
			font-family: 'OpenSans-Regular', arial, sans-serif;
			font-style: italic;
			padding-bottom: 5px;
			color: #282828;
		}
		p,
		a,
		span {
			color: #737373;
			text-align: center;
		}
		.buttonWrap {
			padding: 10px 10px 40px;
			text-align: center;
			.forgotUserPass {
				display: block;
				margin: 15px 15px 10px;
				font-weight: normal;
				span {
					font-family: 'OpenSans-Regular', arial, sans-serif;
				}
			}
			.backButton {
				margin: 0 auto 10px;
				border-bottom: 1px solid;
				width: fit-content;
				opacity: 0.7;
			}
			.buttonStyle {
				font-size: 1.3rem;
				background-color: $pink_button;
				padding: 15px 0;
			}
		}
		.appleLogo {
			img {
				top: -2px;
			}
		}
		.socialMedia {
			border-top: 1px solid $gray_bg;
			padding-top: 30px;
			margin: 0 10px;
			text-align: center;
			ul {
				display: inline-flex;
				padding: 0;
				li {
					display: inline;
					margin: 0 5px;
					.socMedIcons {
						width: 60px;
						padding-bottom: 60px;
						border-radius: 60px;
					}
				}
			}
		}
	}
	transition: all 0.2s linear;
}
.login.toggled {
	top: 0;
	transition: all 0.1s linear;
}
