@import '../../../style/variables.scss';
.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5px 0 12.5px;
  .item {
    background-color: $pink_button;
    color: $white;
    width: 100%;
    margin: 2.5px 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    text-align: left;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    .icon {
      width: 25px;
      min-width: 25px;
      padding-bottom: 27px;
      margin-right: 10px;
    }
    .text {
      font-size: 0.8rem;
      flex-grow: 1;
      text-align: center;
    }
    .tag {
      background: $red_bg;
      text-align: center;
      position: absolute;
      top: -4px;
      right: -36px;
      padding: 14px 30px 5px;
      transform: rotate(42deg);
      line-height: 0.5rem;
      width: 100px;
      font-size: 0.5rem;
    }
  }
}