@import './variables';
.react-daterange-picker {
    width: 100%;
    z-index: 2;
    .react-daterange-picker__wrapper {
        width: 100%;
        border-color: #d3d3d3;
    }
    .react-daterange-picker__inputGroup {
        padding: 10px;
    }
}
.h2h-date {
    * {
        color: $black;
    }
    .react-daterange-picker__inputGroup__year {
        width: unset !important;
    }
    .react-daterange-picker__inputGroup {
        display: flex;
        align-items: center;
    }
}