@import './variables';

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	background: rgb(255,177,187);
	background: linear-gradient(180deg, rgba(255,177,187,1) 0%, rgba(255,177,187,1) 56px, rgba(255,98,206,1) 100%);

	.clickable {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		outline: 0;
	}
}

* {
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	font-family: 'OpenSans-Regular', arial, sans-serif;
	color: #fff;
	text-decoration: none;
}

#page-widgets {
	position: relative;
}

// font weight
.extraBold {
	font-family: 'OpenSans-ExtraBold', arial, sans-serif;
}
.semiBold {
	font-family: 'OpenSans-SemiBold', arial, sans-serif;
}
.bold {
	font-family: 'OpenSans-Bold', arial, sans-serif;
}
.light {
	font-family: 'OpenSans-Light', arial, sans-serif;
}

#app {
	height: 100%;
}

p {
	padding: 0;
	margin: 0;
}
