@import './variables';

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	// background: rgb(255,177,187);
	// background: linear-gradient(180deg, #b32774 0%, #c1789f 100%);
	background: #FFF;

	.clickable {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		outline: 0;
	}
}

* {
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	font-family: 'OpenSans-Regular', arial, sans-serif;
	color: #fff;
	text-decoration: none;
}

#page-widgets {
	position: relative;
}

// font weight
.extraBold {
	font-family: 'OpenSans-ExtraBold', arial, sans-serif;
}
.semiBold {
	font-family: 'OpenSans-SemiBold', arial, sans-serif;
}
.bold {
	font-family: 'OpenSans-Bold', arial, sans-serif;
}
.light {
	font-family: 'OpenSans-Light', arial, sans-serif;
}

#app {
	height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

a,
button,
.clickable {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

#page-landing {
	overflow: hidden;
}
.popup-contactus {
	background: linear-gradient(
		180deg, #f3d6d9 0%, #ffb1bb 15%, #ff2cd7 100%) !important;
	// height: calc(100% - 60px) !important;
}