@import '../../../style/variables.scss';
.circleModal {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 3;
	.modalContentWrap {
		animation-name: popin;
		animation-duration: 0.2s;
		display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
		.modalContent {
			color: #fff;
    width: 100%;
    border-radius: 50% 50% 0;
    padding: 0 40px;
    background: $primary_layout;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 48%;
    justify-content: center;
      .modalIcon {
        display: block;
        .imgCont {
          display: inline-block;
          width: 50px;
          padding-bottom: 50px;
        }
      }
			.modalHeader {
				display: flex;
				padding: 0;
				h3 {
					flex-grow: 1;
					padding: 10px;
					margin: 0;
          font-size: 1.6rem;
				}
				button {
          height: 30px;
          margin: 0;
          font-size: 1rem;
          width: 30px;
          background: none;
          position: absolute;
          bottom: 10px;
          right: 10px;
          border: 1px solid #FFB5BA;
          color: #FFB5BA;
          text-transform: uppercase;
          border-radius: 50%;
				}
			}
			.modalBody {
				padding: 10px;
        .descWrap {
          display: block;
          .desc{
            color: #000;
            font-size: 1.2em;
          }
        }
        .code {
          margin-top: 20px;
          color: $secondary;
          display: block;
          font-size: 25px;
        }
			}
		}
	}
}

@keyframes popin {
  from {transform: scale(0.3);}
  to {transform: scale(1);}
}






