@import '../../../style/variables.scss';

.banner {
	padding: 0;
	margin: 15px 15px 0;
	border-radius: 10px;
	border: none;
	width: calc(100% - 30px);
	.imgContainer {
		width: 100%;
		padding-bottom: 37%;
	}
}
