@import '../../../style/variables.scss';
.contentContainer {
	height: 100%;
	width: 100%;
}

.contentOutside {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 2;
	position: absolute;
	top: 0;
}

.comsAndKit {
	position: absolute;
	bottom: -120%;
	max-height: calc(100% - 90px);
	overflow: scroll;
	left: 0;
	width: 100%;
	z-index: 2;
	text-align: left;
	.communities {
		width: 100%;
		height: 100%;
		background: $white;
		overflow: scroll;
		&Content {
			background: #f2f2f2;
			padding: 15px;
			margin-bottom: 15px;
		}
		.title {
			margin: 0 15px 10px 0;
			font-size: 0.75rem;
			color: $blue_text;
		}
		.community {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			&Content {
				margin-left: 8px;
				text-align: left;
				font-size: 0.75rem;
				h4 {
					color: $pink_text;
					font-size: 1.35rem;
					line-height: 18px;
					margin: 0;
					text-transform: uppercase;
				}
				p {
					color: black;
				}
				.date {
					text-transform: uppercase;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.kitContent {
			padding: 0 15px;
		}
		.signUpBtn {
			max-width: 300px;
			margin: 20px auto 50px;
			.privacyPolicy {
				margin-top: 10px;
				font-size: 0.7rem;
				color: $gray_text;
				text-align: center;
				a {
					color: $gray_text;
				}
			}
			.backButton {
				margin: 10px auto;
				border-bottom: 1px solid;
				width: fit-content;
				color: #737373;
				opacity: 0.7;
			}
			.buttonStyle {
				font-size: 1.3rem;
				background-color: $pink_button;
				padding: 15px 0;
			}
		}
	}
	.landingImg {
		width: 85px;
		min-width: 85px;
		height: 82px;
		overflow: hidden;
		padding: 0;
		border-radius: 50%;
		img {
			position: relative;
		}
	}
	.kitImage {
		width: 100%;
		height: auto;
		padding-bottom: 50px;
		img {
			position: relative;
		}
	}
}
.comsAndKit.toggled {
	top: 0;
	margin-top: 90px;
}

.customCarousel {
	:global(.carousel .control-dots) {
		margin: 0;
		:global(.dot) {
			box-shadow: none;
			border: 1px $gray_text solid;
			margin: 0 5px;
			width: 12px;
			height: 12px;
		}
	}
}

.customButton {
	:global(.carousel .control-dots) {
		:global(.selected) {
			background-color: $pink_button;
			border: none;
		}
	}
}
