@import '../../../style/variables.scss';
.accountProfile {
  padding: 15px 15px 10px;
  * {
    color: #737373;
  }
  .profile {
    background: $details_bg;
    border-radius: 10px;
    padding: 20px;
    .user {
      display: flex;
      width: 100%;
      .nameMember {
        flex-grow: 1;
        padding: 10px;
        .name {
          font-size: 1.2rem;
          color: $primary;
          text-transform: uppercase;
        }
      }
      .share {
        width: 20px;
        padding-bottom: 20px;
      }
    }
    .heroPoints {
      text-align: center;
      display: grid;
      .points {
        font-size: 1.8rem;
      }
      .textPoints {
        text-transform: uppercase;
      }
    }
  }
  .pointsNbuttons {
    display : flex;
    .heroPoints {
      flex-grow: 1;
      text-align: left;;
    }
    .invite {
      align-self: end;
      > div {
        display: flex;
        align-items: center;
        .iconInvite {
          width: 30px;
          padding-bottom: 30px;
          margin: 0 10px 0 15px;
        }
        span {
          background: $primary_layout;
          padding: 10px 15px;
          color: #fff;
          border-radius: 30px;
          font-size: 0.8rem;
        }
      }
    }
  }
}