@import '../../../style/variables.scss';
.newsAndEvents {
  background: $details_bg;
  margin: 0 15px 15px;
  border-radius: 10px;
  * {
    color: #737373;
  }
  .tabWrap {
    display: flex;
    width: 100%;
    background: #c1bbbb;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    span {
      flex-grow: 1;
      text-align: center;
      color: #737373;
      border-radius: 10px 10px 0 0;
      padding: 8px 10px;
      &.activeTab {
        color: #fff;
        background: $primary_layout;
      }
    }
  }
  .content {
    border-radius: 10px;
    overflow: hidden;
    .showMore {
      text-align: right;
      border: none;
      background: none;
      width: 100%;
      padding: 10px;
      span {
        font-size: 0.7rem;
        color: #737373;
        font-size: 0.8rem;
        text-transform: uppercase;
        span {
          color: #ff2cd7;
        }
      }
    }
    .loaderWrap,
    .loaderWrapCenter {
      display: block;
      text-align: right;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
    .loaderWrapCenter {
      text-align: center;
    }
  }
}
.pWrap {
  position: fixed;
  top: 66px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 136px);
  background: $details_bg;
  border-radius: 10px;
  z-index: 2;
  padding: 40px 10px 10px;
  overflow: scroll;
  * {
    color: #000;
  }
  .pClose {
    position: absolute;
    right: 5px;
    top: 5px;
    .closeBtn {
      width: 27px;
      height: 27px;
    }
  }
  .pHeader {
    display: flex;
    .pImage {
      padding-bottom: 150px;
      width: 120px;
    }
    .pNews {
      width: calc(100% - 120px);
      padding-left: 15px;
      .pTitle{
        font-size: 0.8rem;
        color: $primary_layout;
      }
      .pLink{
        font-size: 0.6rem;
        display: inline-block;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .pHeaderEvents {
    display: grid;
    text-align: center;
    .pImage {
      padding-bottom: 56%;
      width: 100%;
      margin: 0 auto 10px;
    }
    .pEvents {
      * {
        font-size: 0.8rem;
      }
      .pTitle {
        text-align: center;
        margin-bottom: 10px;
        color: $primary_layout;
      }
      .pDate {
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }
  .pContent {
    font-size: 0.8rem;
    br {
      display: block;
      content: "";
      margin: 10px 0;
    }
  }
  .pShare {
    background: $primary;
    display: flex;
    width: 100px;
    margin: 0 auto;
    padding: 5px 10px;
    width: max-content;
    margin-top: 20px;
    .pIconShare {
      padding-bottom: 18px;
      width: 18px;
      margin-right: 5px;
    }
    span {
      color: #fff;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}