.newsAndEvents {
  background: #fff;
  margin: 0 15px 15px;
  border-radius: 10px;
  * {
    color: #737373;
  }
  .tabWrap {
    display: flex;
    width: 100%;
    background: #c1bbbb;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    span {
      flex-grow: 1;
      text-align: center;
      color: #737373;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      &.activeTab {
        color: #ffb5ba;
        background: #fff;
      }
    }
  }
  .content {
    border-radius: 10px;
    overflow: hidden;
    .noRecord {
      text-align: center;
      padding: 10px;
    }
    .contentItem {
      display: grid;
      padding: 10px;
      border-bottom: 1px solid #f1ebeb;
      .community {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .comImage {
          width: 30px;
          padding-bottom: 30px;
          border-radius: 15px;
        }
        span {
          font-size: 0.6rem;
          padding: 0 10px 0 5px;
        }
      }
      .details {
        display: flex;
        .detailImage {
          width: 90px;
          flex-grow: 1;
          margin-right: 5px;
        }
        .detailTitle {
          font-size: 1rem;
        }
        .detailContent {
          display: grid;
          width: calc(100% - 95px);
        }
        .detailCount {
          line-height: 0.4rem;
          span {
            font-size: 0.4rem;
            &:nth-child(2) {
              margin-left: 5px;
              padding-left: 5px;
              border-left: 1px solid #f1ebeb;
            }
          }
        }
      }
      .buttons {
        text-align: right;
        a {
          font-size: 0.6rem;
          &:nth-child(2) {
            margin-left: 10px;
          }
          &.buttonLikeActive,
          &.buttonShareActive {
          }
        }
      }
    }
    .eventItem {
      .details {
        .detailImage {
          width: 40%;
        }
        .detailContent {
          display: grid;
          width: 60%;
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .pWrap {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #12a9a8;
    border-radius: 10px;
    z-index: 2;
    padding: 40px 10px 10px;
    * {
      color: #c2c2c2;
    }
    .pClose {
      background: #ffb1bb;
      display: inline-block;
      color: #fff;
      padding: 0px 7.89px 3px;
      font-size: 1rem;
      border-radius: 20px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .pHeader {
      display: flex;
      .pImage {
        padding-bottom: 150px;
        width: 120px;
      }
      .pNews {
        width: calc(100% - 120px);
        padding-left: 15px;
        .pTitle{
          font-size: 0.8rem;
          color: #fff;
        }
        .pLink{
          font-size: 0.6rem;
          display: inline-block;
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    .pHeaderEvents {
      display: grid;
      text-align: center;
      .pImage {
        padding-bottom: 56%;
        width: 100%;
        margin: 0 auto 10px;
      }
      .pEvents {
        * {
          font-size: 0.8rem;
        }
        .pTitle {
          text-align: center;
          margin-bottom: 10px;
        }
        .pDate {
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }
    .pContent {
      font-size: 0.8rem;
      br {
        display: block;
        content: "";
        margin: 10px 0;
      }
    }
    .pShare {
      background: #ffb1bb;
      display: flex;
      width: 100px;
      margin: 0 auto;
      padding: 5px 10px;
      width: max-content;
      margin-top: 20px;
      .pIconShare {
        padding-bottom: 18px;
        width: 18px;
        margin-right: 5px;
      }
      span {
        color: #fff;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}