@import '../../../style/variables.scss';
.storiesWrapper {
  background-color: $white;
  margin: 0 15px 15px;
  border-radius: 10px;
  overflow: hidden;
  .storiesHead {
    background-color: $primary_layout;
    padding: 8px 10px;
    .title {
      color: #fff;
      color: $white;
    }
  }
  .storiesBody {
    overflow-x: scroll;
    .storiesWindow {
      position: relative;
      width: 100%;
      .storiesWrap {
        display: flex;
        width: 100%;
        &.i2 {
          width: 180%;
        }
        &.i3 {
          width: 270%;
        }
        .storyItem {
          width: 100%;
          padding: 10px 10px;
          border-right: 1px solid #f1ebeb;
          &:last-child {
            border: none;
          }
        }
      }
      .noRecord {
        text-align: center;
        padding: 10px;
        color: #737373;
        width: 100%;
      }
    }
    .details {
      display: flex;
      color: #737373;
      .detailImage {
        width: 45px;
        padding-bottom: 45px;
        border-radius: 50%;
        align-self: flex-start;
      }
      .detailContent {
        color: #737373;
        flex: 1;
        margin-left: 10px;
        .detailHead {
          .userName {
            color: #737373;
            font-size: 0.875rem;
          }
        }
        .detailBody {
          margin-left: 5px;
          .detailTitle {
            font-size: 0.75rem;
            color: #737373;
          }
          .detailDescription {
            font-size: 0.75rem;
            color: #737373;
            span {
              color: #737373;
            }
          }
        }
      }
    }
    .buttons {
      position: relative;
      text-align: right;
      a {
        color: #737373;
        font-size: 0.7rem;
        &:nth-child(2) {
          margin-left: 10px;
        }
        .likeButton {
          width: 14px;
          position: relative;
          padding: 0;
          height: 16px;
          margin: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        }
        &.buttonLikeActive,
        &.buttonShareActive {
          font-weight: bold;
        }
      }
    }
  }
}

.pWrap {
  position: fixed;
  top: 66px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 136px);
  background: $details_bg;
  border-radius: 10px;
  z-index: 2;
  padding: 40px 10px 10px;
  overflow: scroll;
  * {
    color: #000;
  }
  .pClose {
    position: absolute;
    right: 5px;
    top: 5px;
    .closeBtn {
      width: 27px;
      height: 27px;
    }
  }
  .pHeader {
    display: grid;
    text-align: center;
    .pImage {
      padding-bottom: 45%;
      width: 45%;
      margin: 0 auto 20px;
      border-radius: 50%;
    }
    .pStory {
      * {
        font-size: 0.8rem;
      }
      .pTitle {
        text-align: center;
        margin-bottom: 15px;
        color: $primary_layout;
      }
      .pDate {
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }
  .pContent {
    font-size: 0.8rem;
    br {
      display: block;
      content: "";
      margin: 10px 0;
    }
  }
  .pShare {
    background: $primary;
    display: flex;
    width: 100px;
    margin: 0 auto;
    padding: 5px 10px;
    width: max-content;
    margin-top: 20px;
    .pIconShare {
      padding-bottom: 18px;
      width: 18px;
      margin-right: 5px;
    }
    span {
      color: #fff;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}