@import '../../../style/variables.scss';
.storiesWrapper {
  background-color: $white;
  margin: 0 15px 15px;
  border-radius: 10px;
  overflow: hidden;
  .storiesHead {
    background-color: $primary_layout;
    padding: 8px 10px;
    .title {
      color: #fff;
      color: $white;
    }
  }
  .storiesBody {
    overflow-x: scroll;
    .storiesWindow {
      position: relative;
      width: 100%;
      .storiesWrap {
        display: flex;
        width: 100%;
        &.i2 {
          width: 180%;
        }
        &.i3 {
          width: 270%;
        }
        .storyItem {
          width: 100%;
          padding: 10px 10px;
          border-right: 1px solid #f1ebeb;
          &:last-child {
            border: none;
          }
        }
      }
      .noRecord {
        text-align: center;
        padding: 10px;
        color: #737373;
        width: 100%;
      }
    }
    .details {
      display: flex;
      color: #737373;
      .detailImage {
        width: 45px;
        padding-bottom: 45px;
        border-radius: 50%;
        align-self: flex-start;
      }
      .detailContent {
        color: #737373;
        flex: 1;
        margin-left: 10px;
        .detailHead {
          .userName {
            color: #737373;
            font-size: 0.875rem;
          }
        }
        .detailBody {
          margin-left: 5px;
          .detailTitle {
            font-size: 0.75rem;
            color: #737373;
          }
          .detailDescription {
            font-size: 0.75rem;
            color: #737373;
            span {
              color: #737373;
            }
          }
        }
      }
    }
    .buttons {
      position: relative;
      text-align: right;
      a {
        color: #737373;
        font-size: 0.7rem;
        &:nth-child(2) {
          margin-left: 10px;
        }
        .likeButton {
          width: 14px;
          position: relative;
          padding: 0;
          height: 16px;
          margin: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        }
        &.buttonLikeActive,
        &.buttonShareActive {
          font-weight: bold;
        }
      }
    }
  }
}