@import '../../../style/variables.scss';
.communitySetup {
  padding: 15px 15px 10px;
  background: #fff;
  height: calc(100vh - 116px);
  * {
    color: #686868;
  }

  .infoWrap {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;

    label {
      color: #686868;
      font-family: 'OpenSans-Regular', arial, sans-serif;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    input, textarea {
      background: #d4d4d4;
      border: none;
      border-radius: 3px;
      padding: 10px;
      color: #686868;
    }
    input.name {
      color: #D13584;
      font-family: 'OpenSans-extraBold', arial, sans-serif;
      font-size: 20px;
    }

    .attachmentWrap {
      display: flex;
      align-items: center;
      .attachmentInputWrap {
        flex-grow: 1;
        display: none;
        .attachment {
          width: 95%;
        }
      }
      .pShare {
        flex-grow: 1;
      }
      .pShare {
        display: block;
        width: 100px;
        margin: 0 auto;
        width: max-content;
        min-width: 85px;
        .pIconShare {
          padding-bottom: 100px;
          width: 100px;
          background: #d4d4d4;
          border-radius: 50%;
        }
        span {
          color: #fff;
          font-size: 0.8rem;
          text-transform: uppercase;
        }
      }
    }
  }
}