@import '../../../style/variables.scss';
.communityWrapper {
  .communityBody {
    padding: 15px;
    background: $details_bg;
    border-radius: 15px;
    .title {
      color: $black;
      font-size: 0.75rem;
    }
    .communities {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
      .communityCard {
        width: 30%;
        margin: 20px 5px;
        .imgCont {
          width: 100%;
          .img {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
          }
        }
        .buttonStyle {
          padding: 3px 0;
          font-size: 0.75rem;
          border-radius: 2px;
          &.followed {
            background-color: $primary_layout;
          }
        }
        .bottomDescStyle {
          text-transform: uppercase;
          font-size: 0.7rem;
          margin-left: 0;
          margin-right: 0;
        }
        .followers {
          font-size: 0.6rem;
          color: #737373;
        }
      }
    }
    .noRecord {
      text-align: center;
      padding: 10px 10px 0 10px;
      color: #737373;
      width: 100%;
    }
    .showMore {
      text-align: right;
      border: none;
      background: none;
      width: 100%;
      span {
        font-size: 0.7rem;
        color: #737373;
        font-size: 0.8rem;
        text-transform: uppercase;
        span {
          color: #ff2cd7;
        }
      }
    }
    .loaderWrap {
      display: block;
      text-align: right;
      > div div {
        border: 4px solid #fff;
        border-color: #ffb1bb transparent transparent transparent;
        width: 30px;
        height: 30px;
      }
    }
  }
}