@import '../../../style/variables.scss';
.termsWrapper {
  .termsContent {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    padding: 15px 15px;
    p {
      margin-bottom: 8px;
      &[class="bold heading"] {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        margin-bottom: 3px;
      }
    }
    ul {
      padding-left: 20px;
      margin: 0;
      li {
        margin-bottom: 5px;
        font-size: 0.9rem;
      }
      ul li {
        font-size: 0.8rem;
      }
    }
  }
  .buttonContainer {
    padding: 0 15px;
  }
}