@import '../../../style/variables.scss';

.imageLoader {
	width: 88px;
	padding-bottom: 88px;
	display: block;
	position: relative;
	height: 0;
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
	img {
		width: 100%;
		height: auto;
		min-height: 1px;
		top: 0;
		left: 0;
		display: block;
		position: absolute;
		&.popIn {
			animation: pop-in 0.100s;
		}
	}
	&.notLoaded {
		background-color: $gray_bg;
		img {
			-ms-transform: translate(
				1000%,
				1000%
			); /* added vendor specific css (IE) */
			-webkit-transform: translate(1000%, 1000%);
			transform: translate(1000%, 1000%);
		}
	}
}

@keyframes pop-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
