@import "../../../style/variables.scss";
.text {
    color: $gray_text;
    font-size: 0.8rem;
    color: $black;
    margin: 0 15px;
    &.title {
        font-size: 1rem;
        margin: 10px 15px;
        color: $pink_text;
    }
}