.inputWrap {
	.formInput,
	.dummyInput {
		border: none;
		border-radius: 0;
		border: 1px solid #d3d3d3;
		padding: 10px;
		display: block;
		width: 100%;
		background: transparent;
		&::placeholder {
			font-size: 0.6rem;
		}
		&.error {
			border-color: red;
		}

		&.dummyInput {
			width: calc(100% - 10px);
			margin-right: 10px;
			&:disabled {
				opacity: 1;
				color: #312f2f;
			}
		}
	}
	.text {
		font-size: 0.6rem;
		margin: 5px 0;
		display: block;
		&.errorText {
			color: red;
		}
	}
	&.isCheckRadio {
		margin: 10px 0px;
		display: flex;
		input[type='checkbox'],
		input[type='radio'] {
			display: inline-block;
			width: max-content !important;
			margin-right: 5px;
			padding: 0;
		}
	}
	input[type='file'] {
		display: none;
	}
}
