<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no,maximum-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/icon-72x72.png?v=2">
		<link rel="apple-touch-icon" sizes="96x96" href="assets/icons/icon-96x96.png?v=2">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/icon-144x144.png?v=2">
		<link rel="apple-touch-icon" sizes="192x192" href="assets/icons/icon-192x192.png?v=2">

		<link rel="shortcut icon" href="assets/icons/icon-48x48.png">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-55DNH8T');</script>
		<!-- End Google Tag Manager -->
	
		<% preact.headEnd %>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55DNH8T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
	
		<% preact.bodyEnd %>
		<!-- FB -->
			<div id="fb-root"></div>
			<script
				async
				defer
				crossorigin="anonymous"
				src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=641054157305828&autoLogAppEvents=1"
				nonce="dPkoB0OG"></script>
		<!-- FB -->
	</body>
</html>
