<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no,maximum-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="apple-touch-icon" sizes="192x192" href="assets/icons/icon-192x192.png?v=1">
		<link rel="apple-touch-icon" sizes="256x256" href="assets/icons/icon-256x256.png?v=1">
		<link rel="apple-touch-icon" sizes="384x384" href="assets/icons/icon-384x384.png?v=1">
		<link rel="apple-touch-icon" sizes="512x512" href="assets/icons/icon-512x512.png?v=1">
	
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
