<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no,maximum-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/icon-72x72.png?v=2">
		<link rel="apple-touch-icon" sizes="96x96" href="assets/icons/icon-96x96.png?v=2">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/icon-144x144.png?v=2">
		<link rel="apple-touch-icon" sizes="192x192" href="assets/icons/icon-192x192.png?v=2">

		<link rel="shortcut icon" href="assets/icons/icon-48x48.png">
	
		<% preact.headEnd %>
	</head>
	<body>
		<!-- FB -->
			<div id="fb-root"></div>
			<script
				async
				defer
				crossorigin="anonymous"
				src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=641054157305828&autoLogAppEvents=1"
				nonce="dPkoB0OG"></script>
		<!-- FB -->
		<% preact.bodyEnd %>
	</body>
</html>
