@import '../../../style/variables.scss';
.otpWrapper {
  position: relative;
  .otpContent {
    height: calc(100vh - 200px);
    padding: 35px;
    .heading {
      font-size: 1.5rem;
    }
    .otpBoxContainer {
      display: flex;
      margin: 25px 0;
      align-items: center;
      justify-content: space-between;;
      .otpBox {
        height: 42px;
        width: 42px;
        border-radius: 5px;;
        display: flex;
        align-items: center;
        justify-content: center;;
        font-size: 1.5rem;
        background-color: #d9d9d9;
        border: 2px solid #d9d9d9;
        &.otpBoxActive {
          border-color:$primary_layout;
        }
      }
    }
    .enteredPIN {
      opacity: 0;
    }
  }
  .buttonContainer {
    padding: 0 25px;
  }
}