@import '../../../style/variables.scss';
.messagesWrap {
  padding: 15px;
  * {
    color: #737373;
  }
  .item {
    display: flex;
    align-items: center;
    &:not(:first-of-type) {
      margin-top: 10px;
    }
    .image {
      border-radius: 50%;
      margin-right: 15px;
    }
    .details {
      &.unread {
        * {
          color: $primary_layout;
        }
      }
      .text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
  .showMore {
    text-align: right;
    border: none;
    background: none;
    width: 100%;
    padding: 10px;
    span {
      font-size: 0.7rem;
      color: #737373;
      font-size: 0.8rem;
      text-transform: uppercase;
      span {
        color: #ff2cd7;
      }
    }
  }
  .loaderWrap {
    display: block;
    text-align: center;
    > div div {
      border: 4px solid #fff;
      border-color: #ffb1bb transparent transparent transparent;
      width: 30px;
      height: 30px;
    }
  }
}