@import '../../../style/variables.scss';
.tdWrap {
  padding: 10px;
  * {
    font-size: 0.75rem;
  }
  .title {
    font-size: 1.063rem;
    color: $pink_text !important;
  }
  .tdInfo {
    margin-top: 10px;
    display: flex;
    .csImg {
      width: 140px;
      padding-bottom: 100px;
      margin-right: 10px;
      border-radius: 8px;
    }
    .csInfo {
      flex: auto;
      .csInfoHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .amount {
          font-size: 0.9375rem;
        }
      }
    }
  }
  .csDescr {
    color: $gray_text;
    font-style: italic;
    font-size: 11px;
    margin: 15px 0;
  }
  .vInfo {
    padding: 0 10px;
    margin-bottom: 20px;
    .vInfoHead {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 10px;
      .vImg {
        width: 35px;
        padding-bottom: 35px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  .note {
    padding: 10px 0 20px;
    border-top: 1px solid $gray_bg;
  }
  .tdProgress {
    .tdProgressBody {
      margin-top: 10px;
      padding-top: 22px;
      padding-bottom: 7px;
      background-color: $gray_bg;
      .pStatus {
        display: flex;
        * {
          color: #828282;
          font-size: 0.75rem;
        }
        &.active {
          .pStatusDate {
            color: $black;
          }
          .pStatusText {
            &:after {
              background-color: $pink_button;
            }
            * {
              color: $blue;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 42px;
        }
        &:not(:last-of-type) {
          .pStatusText {
            border-left: 1px solid #828282;
          }
        }
        .pStatusDate {
          width: 56px;
          margin: 0 20px 0 24px;
          text-align: center;
        }
        .pStatusText {
          flex: 1;
          padding-left: 16.5px;
          padding-bottom: 18px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            background-color: #828282;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            top: 0;
            left: -8px;
          }
          .pStatusTextTitle {
            font-size: 0.9375rem;
            margin-bottom: 3px;
          }
        }
      }
      .proof {
        background-color: $pink_button;
        color: $white;
        display: block;
        width: fit-content;
        border-radius: 5px;
        margin: 0 47px 0 auto;
        padding: 7px 29px 7px 35px;
      }
    }
  }
}
.proofContent {
  .sliderWrap {
    position: relative;
    padding-bottom: 10px;
    .item {
      border-radius: 10px;
      .proofImg {
        width: 100%;
        padding-bottom: 166%;
        margin-bottom: 10px;
        img {
          position: absolute;
          top: -9999px;
          bottom: -9999px;
          left: -9999px;
          right: -9999px;
          margin: auto;
        }
      }
    }
    .customCarousel {
      :global(.carousel) {
        padding-bottom: 15px;
        :global(.control-dots) {
          margin: 0;
          :global(.dot) {
            background-color: $gray_bg;
            border: 1px solid $gray_bg;
            box-shadow: none;
            height: 12px;
            margin: 0 5px;
            width: 12px; 
            opacity: 1;
          }
          :global(.selected) {
            background-color: $pink_button;
            border: none;
          }
        }
      }
    }
  }
}