.hfWrap {
  padding: 10px 15px;
  .title {
    color: #ce0f68;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .description {
    color: black;
    display: inline-block;
    font-size: 0.8rem;
  }
}