
name: Build and Deploy
on:
    push:
      branches: [ github ]
    pull_request:
      branches: [ github ]

    workflow_dispatch:

jobs:
  Deploy:
    runs-on: ubuntu-latest
    env:
      API_DOMAIN: https://n0k58tc0x4.execute-api.ap-southeast-1.amazonaws.com/develop/
      CDN_DOMAIN: https://mobile-kkp-develop.s3.ap-southeast-1.amazonaws.com/uploads/
      PLATFORM: android
      PREFIX: kkp
      ENVIRONMENT: DEV
  
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm config set registry http://registry.npmjs.org/
      - run: npm install --production=false
      - run: echo "APP_ENV_PROJECT=Leni2022" >> .env
      - run: echo "APP_ENV_PLATFORM=$PLATFORM" >> .env
      - run: echo "APP_ENV_PREFIX=$PREFIX" >> .env
      - run: echo "APP_ENV_PUBLIC_PATH=" >> .env
      - run: echo "APP_ENV_BUILD_NO=1.0.$CI_JOB_ID" >> .env
      - run: echo "APP_ENV_COOKIE_TIME_LIMIT=14" >> .env
      - run: echo "APP_ENV_API_DOMAIN=$API_DOMAIN" >> .env
      - run: echo "APP_ENV_CDN_DOMAIN=$CDN_DOMAIN" >> .env
      - run: echo "APP_ENV_ENVIRONMENT=$ENVIRONMENT" >> .env
      - run: echo "APP_ENV_STAGE=$CI_COMMIT_REF_NAME" >> .env
      - run: cat .env
      - run: npm install
      - run: rm -rf build
      - run: npm run build:android
      - run: npm run build:ios
      - run: aws configure set aws_access_key_id $AWS_KEY
      - run: aws configure set aws_secret_access_key $AWS_SECRET
      - run: aws configure set default.region ap-northeast-1
      - run: aws s3 sync ./build s3://$UAT_BUCKET --acl public-read-write 
      - run: cd && rm -r .aws

